<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Создание нового пользователя</title>
</head>

<h4>Создание нового пользователя</h4>

<form action="/create_user" method="post">
    <input type="text" name="name" placeholder="Введите имя" required/>
    <input type="number" name="age" placeholder="Введите возраст" required/>
    <input type="submit" name="create" value="Создать">
</form>

<h4>Список всех пользователей</h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 150px">Возраст</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${user.id}</td>
        <td>${user.name}</td>
        <td>${user.age}</td>
    </tr>
    </tbody>
</table>

<a href="./">Перейти на главную страницу</a>

</body>
</html>
