<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Создание нового пользователя</title>
</head>

<h4>Создание нового пользователя</h4>

<form id="create-user" th:action="@{/create_user}" th:object="${user}" th:method="post" accept-charset="utf-8">
    <input id="name_input" type="text" name="name" placeholder="Введите имя" th:value="${user.name}" required/>
    <input id="age_input" type="number" name="age" placeholder="Введите возраст" th:value="${user.age}" required/>
    <button type="submit" name="create">Создать</button>
</form>

<a href="./">Перейти на главную страницу</a>

</body>
</html>
